name: 2048-ci-job

on:
  push:
    branches:
      - "feature/**"
    paths-ignore:
      - README.md
  workflow_dispatch:

jobs:
  Code-Quality:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: setup node env
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: cache dependencies
        id: cache-primes
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}

      - name: install dependencies
        run: npm install

      - name: linting
        run: npm run lint

      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: "fs"
          scan-ref: "."
          trivy-config: trivy.yaml

  Docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/2048-app:${{ github.sha }}
